@mixin flex-column($justify-content) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-row($justify-content) {
  display: flex;
  justify-content: space-between;
}
